body{
  font-size:16px;
  font-weight:400px;
  color:#666;
  background-color:#B6D2E0;
}

/* The styling for the first header */
h1{	
  font-size:25px;
  margin-left:100px;
  margin-right:auto;
  top:10px;
}

/* The styling for the center container */
.center{
  margin-right:100px;
  margin-left:10px;
  padding: 10px 0;
  text-align: center;
}

/* The styling for the navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C8B6B3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Styling for the paragraphs */
p{
  font-size:25px;
  margin-left:140px;
  top:100px;
  font-size: 12px;
}

/* Styling of the image of me */
img{
  margin-left:120px;
  margin-right:20px;
  width:180px;
  top:50px;
  height:180px;
}

/* Styling for the table in the Skills page */
h2{
  text-align: center;
}

.firstTable{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th {
  border: 2px solid black;
  padding: 8px;
  background-color: #C8B6B3;
}

td{
  border: 2px solid black;
  vertical-align: top;
  padding: 8px;
}

.secondTable{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-top: 10px;
}
